.home {
    background: url('../pictures/bakgroundHome2.jpeg') center / cover no-repeat;
}
.footer {
    background: url('../pictures/bakgroundFooter.jpeg') center / cover no-repeat;
}
body {
    user-select: none;
}