.home {
    background: url('../assets/bakgroundHome2.jpeg') center / cover no-repeat;
}
.footer {
    background: url('../assets/bakgroundFooter.jpeg') center / cover no-repeat;
}
body {
    user-select: none;
}